<!DOCTYPE html>

<html>
<head>
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M2R3SCM9');</script>
<!-- End Google Tag Manager -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title> Shubham's Portfolio </title>
	<link rel="icon" type="image/png" href="images/favicon/file.png">

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2R3SCM9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <center>
	  <font face="comic san" size="5" color="red"<marquee behavior="" direction="" scroll delay="" bgcolor="blue" height="10%" width="50%" hspace="400"> Articles coming soon..... </marquee> </font>
  </center>
</body>
</html>