<!DOCTYPE html>

<html>
<head>
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M2R3SCM9');</script>
<!-- End Google Tag Manager -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title> Shubham's Portfolio </title>
	<link rel="icon" type="image/png" href="images/favicon/file.png">

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2R3SCM9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <center>

  <h2>Certificates</h2>
	  <br>
	  <h4>French Certificate</h4>
    <img src="static/images/certs/AFD(3).jpg" width="350">
    <br>
	  <h4> First Aid</h4>
	<img src="static/images/certs/FirstCert.png" width="350">
	<br>
	  <h4> Google Data Analytics (Downloadable) </h4>
	<a href="static/images/certs/GoogleDA.pdf"> <img src="static/images/certs/GoogleDA.png" width="350"></a>
	<br>
	  <h4> Computing Technician</h4>
	<img src="static/images/certs/PMKVY.jpg" width="350">
	<br>
	  <h4> Statistics Intro</h4>
	<img src="static/images/certs/StatsCert.png" width="350">
	<br>
<a href="/l"><button>Main</button></a>
    <a href="/exp"><button>Experience</button></a>
<a href="/edu"><button>Education</button></a>
<a href="/portfolio"><button>Portfolio</button></a>


  </center>
</body>
</html>