<!DOCTYPE html>

<html>
<head>
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M2R3SCM9');</script>
<!-- End Google Tag Manager -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title> Shubham's Portfolio </title>
	<link rel="icon" type="image/png" href="images/favicon/file.png">

<style>
	table{
		font-family:verdana;
		border-collapse: collapse
		width: 100%
	}
	td, th {
  border: 1px solid #666666;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #666666;
}
</style>

</head>

<body>
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2R3SCM9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <center>

 <h2>Education - </h2>
	<p>
		<table>
			<tr>
				<th>School</th>
				<th>Course</th>
				<th>Passing Year</th>
				<th>Result</th>
				<th>Achievement</th>
			</tr>
			<tr>
				<td>Guru Gobind Singh Indraprastha University, Delhi</td>
				<td>Business Administration</td>
				<td>2019</td>
				<td>60%</td>
				<td>Won business presentations</td>
			</tr>
			<tr>
				<td>Cambrian College, Ontario</td>
				<td>Business Analytics</td>
				<td>2024</td>
				<td>Awaited</td>
				<td>Taught as a volunteer</td>
			</tr>
		</table>
	</p>

	  <a href="/"><button>Main</button></a>
	  <a href="/portfolio"><button>Portfolio</button></a>
	  <a href="/cert"><button>Licenses & Certification</button></a>
    <a href="/exp"><button>Experience</button></a>
  </center>

</body>
</html>