<!DOCTYPE html>

<html>
<head>
	<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M2R3SCM9');</script>
<!-- End Google Tag Manager -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title> Shubham's Portfolio </title>
	<link rel="icon" type="image/png" href="images/favicon/file.png">
<!-- format style for the table -->
<style>
	table{
		font-family:verdana;
		border-collapse: collapse
		width: 100%
	}
	td, th {
  border: 1px solid #666666;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #666666;
}
</style>

</head>

<body>
	<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2R3SCM9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <center>
<!-- table data input using tags -->
 <h2>Experience - </h2>
	<p>
		<table>
			<tr>
				<th>Company</th>
				<th>Position</th>
				<th>Date</th>
				<th>Location</th>
				<th>Job Description</th>
			</tr>
			<tr>
				<td>The Home Depot</td>
				<td>Sales Associate</td>
				<td>04/2022 – present</td>
				<td>Sudbury, ON</td>
				<td>• Offer recommendations on color selection, paint types, and application techniques based on customer preferences and project requirements.<br>
				• Assist customers with paint mixing and tinting services, ensuring accurate color matching.<br>
				• Answer questions regarding pricing, promotions, and product availability.</td>
			</tr>
			<tr>
				<td>Confidential</td>
				<td>Linux Administrator</td>
				<td>12/2021 - 11/2022</td>
				<td>New Delhi, India</td>
				<td>• Spearheaded the architecture of a large and complex project from procurement to delivery on a time constraint schedule. <br>
• Created fund requests for timely payment of invoices and maintained a streamlined flow of operations.<br>
• Implemented a faster, lighter, better, and more secure VPN solution using cryptographic keys</td>
			</tr>
			<tr>
				<td>Webscoot.io </td>
				<td>Business Development Executive</td>
				<td>10/2019 - 08/2021</td>
				<td>New Delhi, India</td>
				<td>• Identified, approached, and met with potential clients based on the target list of leads.. <br>
• Documented sales activity and presented reports with review progress with the help of Microsoft Office 365 tools.<br>
• Held meetings with a dozen clients and closed the leads successfully.</td>
			</tr>
			<tr>
				<td>E-tutor</td>
				<td>Part-Time Tutor</td>
				<td>12/2021 - 11/2022</td>
				<td>New Delhi, India</td>
				<td>• Provided private tuition to students across Delhi. He has taught more than ten students French, English, and Maths. <br>
• Oversimplified the concepts with his self-created activities and schedule.<br>
• Succeeded in helping eight students reach their goal of earning at least 90% in exams and delivered satisfied and recurring clients to the organization.</td>
			</tr>
		</table>
	</p>

	<a href="/"><button>Main</button></a>
    <a href="/edu"><button>Education</button></a>
	<a href="/portfolio"><button>Portfolio</button></a>
	<a href="/cert"><button>Licenses & Certification</button></a>
  </center>

</body>
</html>